.button {
    width: 200px;
    height: 200px;
    font-size: 100px;
    background-color: blanchedalmond;
    margin: 5px;
    border-radius: 12px;
}

.game {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 100px;
}
